<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--milliseconds-->
    <add key="timeOutError" value="10000"/>
    <!--milliseconds-->
    <add key="timeOutRegards" value="10000"/>
    <add key="LabelOrderRunning" value="TRANSAZIONE IN CORSO"/>
    <add key="LabelOrderEnd" value="TRANSAZIONE TERMINATA"/>
    <add key="LabelError" value="TRANS. TERMINATA CON ERRORE"/>
    <add key="LabelSite" value="mercato.cosicomodo.it"/>
    <add key="sizeLabel1" value="40"/>
    <add key="sizeLabel2" value="40"/>
    <add key="sizeLabel3" value="40"/>
  </appSettings>
  <connectionStrings>
    <add name="localDB" connectionString="Provider=SQLOLEDB;Data Source=.;Initial Catalog=TPPosDB;Persist Security Info=True;User ID=sa;Password=W1nc0rsqlsa;MultipleActiveResultSets=True;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
